{% load static %}

<link rel="stylesheet"
      href="{% static 'css/navbar.css' %}">

<div class="main-navbar">

    <div class="nav-left">

        <h3 class="brand">
            <i class="fas fa-hammer"></i>
            Nyondo Hardware
        </h3>

    </div>

    <div class="nav-right">

        <!-- DATE -->
        <div class="nav-info-card">

            <span>Date</span>

            <h4>
                {% now "l, d M Y" %}
            </h4>

        </div>

        <!-- TIME -->
        <div class="nav-info-card">

            <span>Time</span>

            <h4>
                {% now "h:i A" %}
            </h4>

        </div>

        <!-- USER -->
        <div class="nav-info-card">

            <span>User</span>

            <h4>{{ request.user.username }}</h4>

        </div>

        <!-- ROLE -->
        <div class="nav-info-card">

            <span>Role</span>

            <h4>

                {% if request.user.is_superuser %}
                    Administrator
                {% else %}
                    Staff
                {% endif %}

            </h4>

        </div>

        <!-- LOGOUT -->

        <form method="POST"
              action="{% url 'logout' %}"
              class="logout-form">

            {% csrf_token %}

            <button type="submit"
                    class="logout-btn">

                <i class="fas fa-right-from-bracket"></i>

                Logout

            </button>

        </form>

    </div>

</div>