    
        body{
            background: #f2e7de;
            font-family: 'poppins', sans-serif;
        }
        .welcome{
            text-align: center;
            margin: 50px;
        }

        .card{
           
            background: linear-gradient(135deg, #0B1F3A, #102B52, #163A6B); 
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            width: 500px;
            margin: 0 auto;
            width: 400px;
        }

        .card p{
            color: #C7D2E0;
            margin-bottom: 30px;
        }


        .btn{
            display: inline-block;
            background:  #E85D3F;
            padding: 15px;
            color: white;
            border-radius: 6px;
            text-decoration: none;
            transition: background 0.3s ease;
            width: 100px;
        }
        h1{
            color: #F5F7FA;
            margin-top: -40px;
        }

        .slogan{
             color: #FF8A65;
        }

        .buttons a, i{
            color: white;
        }

        .btn:hover{
            background: #1E293B;
        }

        img{
            width: 120px;
            height: 120px;
        }
    