
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fdf6f0;
    padding: 40px;
}
      .top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
      }

      .top-section h2 {
        color: #0f172b;
        margin: 0;
      }

      .top-section p {
        color: #666;
        margin: 5px 0 0;
      }

      .btn {
        background: #f54900;
        color: white;
        padding: 12px 20px;
        border-radius: 6px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
      }

      .btn:hover {
        background: #d63f00;
      }

      .table-container {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      }

      table {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto;
      }

      th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background: #fdf6f0;
        color: #0f172b;
      }

      tr:hover {
        background: #f9f9f9;
      }

      .warning {
        color: #e67e22;
        font-weight: bold;
      }

      .success {
        color: #27ae60;
        font-weight: bold;
      }

      .out {
        color: #c0392b;
        font-weight: bold;
      }
      .edit{
        color: white;
        text-decoration: none;
        background: #e67e22;
        border: 1px solid #e67e22;
        padding: 5px;
        width: 50px;
        text-align: center;
        border-radius: 6px;
      }
      .view{
        color: white;
        text-decoration: none;
         background: #e67e22;
        border: 1px solid #e67e22;
        padding: 7px;
        width: 60px;
        text-align: center;
        border-radius: 6px;
      }
      .action{
        border-radius: 6px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        margin-right: 5px;
      }
    